Repository tact-lang/tact, pull requests merged in 2024-05, with the labels that each got.

#287 Improved CLI
  .github/workflows/tact.yml
  CHANGELOG.md
  bin/tact
  grammar/configSchema.json
  package.json
  src/config/parseConfig.ts
  src/node.ts
  src/pipeline/build.ts
  test/tact-cli/fail.config.json
  test/tact-cli/success.config.json
  test/tact-cli/success.tact
  test/tact-cli/tact.config.json
  yarn.lock
Labels: enhancement, refactoring, cli

#106 Add native map traversing functionality
  CHANGELOG.md
  src/abi/map.ts
  src/generator/writers/__snapshots__/writeSerialization.spec.ts.snap
  src/generator/writers/freshIdentifier.ts
  src/generator/writers/writeFunction.ts
  src/generator/writers/writeStdlib.ts
  src/grammar/ast.ts
  src/grammar/clone.ts
  src/grammar/grammar.ohm
  src/grammar/grammar.ts
  src/test/feature-map-traverse.spec.ts
  src/test/features/map-traverse.tact
  src/types/__snapshots__/resolveStatements.spec.ts.snap
  src/types/resolveStatements.ts
  src/types/stmts-failed/case-47.tact
  src/types/stmts-failed/case-48.tact
  src/types/stmts-failed/case-49.tact
  src/types/stmts-failed/case-50.tact
  tact.config.json
Labels: language feature, scope: maps

#342 Fix `log` and `log2` functions
  CHANGELOG.md
  src/generator/writers/__snapshots__/writeSerialization.spec.ts.snap
  src/generator/writers/writeStdlib.ts
  src/test/feature-math.spec.ts
Labels: stdlib
